@{
	ViewData["Title"] = "EscolhaServco";
}

<h1>EscolhaServco</h1>

<table class="table">
	<form asp-action="EscolhaCidade">

		@{
			List<string> cabecalho = new();
		}
		@foreach (var servico in ViewBag.Servico)
		{
		<tr>
			<td>
				<label for="@servico"> @servico</label>
			</td>
				@foreach (var cabecalhos in ViewBag.CabecalhoEscolhido)
				{
					cabecalho.Add(cabecalhos);
				}
				<td>
					<a asp-action="EscolhaCidade" asp-route-service="@servico" asp-route-headers="@cabecalho.Find(x => x == "CIDADE")">Select</a>
				</td>
				
		</tr>
		}
	</form>
</table>
