@{
	ViewData["Title"] = "Index";
}

<h1>Rotas do Relatorio</h1>
<h2>Escolha abaixo as rotas necessarias para a escrita do relatorio</h2>
@if (!ViewBag.Authenticate)
{
	<div class="row">
		<div class="col-md-12">
			<span>Nao Logado</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" asp-controller="Usuario" asp-action="Index">
				<input type="submit" value="Entrar" class="btn btn-primary" />
			</form>
		</div>
	</div>
}
else
{
<table class="table">
	<form asp-action="EscolhaServico">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
				<label class="control-label"></label><br />
				@{
					foreach (var column in ViewBag.Cabecalho)
					{
							<input type="checkbox" value="@column" for="@column" id="Column" name="Column" >
							<label for="@column">@column</label>
							<br/>
					}
				}
		</div>
		<div class="form-group">
			<a asp-action="EscolhaServico"></a>
			<input type="submit" value="EscolhaServico" onclick="EscolhaServico()" class="btn btn-primary" />
		</div>
	</form>
</table>
}