@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerador de Rotas. Poste seu arquivo para leitura aqui e depois faça seu login</h1>
    <div>
		<a asp-action="ReceberArquivo">Upload</a>
	</div>
</div>
