@model ProjetoRotasPapiniMvcMicroServicoMongo.Models.Usuario

@{
	ViewData["Title"] = "Usuario";
}

<h1>Usuario</h1>
@if (ViewBag.Authenticate)
{
	<div class="row">
		<div class="col-md-12">
			<span>Usuario Logado</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" asp-controller="Usuario" asp-action="Logout">
				<u><input class="btn btn-link text-dark" type="submit" value="Sair" /></u>
			</form>
		</div>
	</div>
}
else
{
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Login">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="NomeUsuario" class="control-label"></label>
					<input asp-for="NomeUsuario" class="form-control" required />
					<span asp-validation-for="NomeUsuario" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Senha" class="control-label"></label>
					<input type="password" asp-for="Senha" class="form-control" required />
					<span asp-validation-for="Senha" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Entrar" class="btn btn-primary" />
				</div>
			</form>
			<div>
				<a asp-action="Create">CriarUsuario</a>
			</div>
		</div>
	</div>
	<br />
	<div>
		<a asp-action="Index">Voltar</a>
	</div>
}
@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}